img {
    height: 100px;
    width: 100px;
    margin: 3%
}

h2{
    margin: 3%;
}

a, navbar-item, a.navbar-item {
    color: black;
   background-color: white;
}

a.navbar-item, navbar-item :hover{
    color: white;
    background-color: black;
}